.hero-modal {
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 40px 40px 40px;
  z-index: 1;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-close-modal {
  margin-left: 450px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: transform 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-close-modal:hover {
  fill: var(--accent-color);
  transform: scale(200%, 200%);
}

.hero-svg-modal {
  width: 18px;
  height: 18px;
}

.hero-title-modal {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.hero-icon-modal {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 15px;
}

.hero-form-modal {
  display: flex;
  flex-direction: column;
}

.hero-label-modal {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-box {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.hero-comment-modal {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-top: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  resize: none;
}

.hero-confirm-modal {
  text-align: center;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.hero-label-checkbox-modal {
  color: #757575;
  border-radius: 4px;
  fill: #212121;
  margin-left: 7px;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.hero-link-modal {
  color: #2196f3;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.hero-button-modal {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-left: 120px;
  margin-top: 30px;
  border-radius: 4px;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-modal:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #3699ea;
}

.hero-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .hero-modal {
  transform: scale(0.5) translate(0, 500px) rotate(300deg);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=modal.css.map */