ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--white-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.clients__title, .team__title, .three__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.header {
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 80px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 1;
  fill: #212121;
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 25px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}
.header__contacts-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts-link {
    color: #757575;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-left: 11.5px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    font-size: 14px;
    display: flex;
    flex-direction: row;
  }
}
.header__contacts-link:hover {
  color: #2196f3;
  transform: scale(110%, 110%);
}
.header__link:hover {
  color: #2196f3;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__link:hover::after {
  opacity: 1;
}
.header__link-active {
  color: #2196f3;
  position: relative;
}
.header__link-active::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  top: 45.5px;
  left: 1.2px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
}
.header__link::after {
  width: 100%;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #2196f3;
  content: "";
  position: absolute;
  top: 45.5px;
  left: 1.2px;
  opacity: 0;
  transition: color 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link {
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  font-weight: 500;
  color: #212121;
  font-family: Roboto, sans-serif;
  position: relative;
  transition: color 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-top: 24px;
  margin-bottom: 25px;
}
.header__link-new {
  color: #212121;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header__list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}
.header__link {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header__blue {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header__item {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header__contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
.header__contacts-item-blue {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  margin-left: auto;
}
.header__contacts-item {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  margin-top: 8px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__contacts-icon {
  margin-right: 12px;
  display: flex;
  width: 30px;
}
@media screen and (min-width: 768px) {
  .header__contacts-icon {
    width: 10px;
  }
}
.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__burger {
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__svg {
  width: 24px;
  height: 14px;
  fill: #000;
}
@media screen and (min-width: 768px) {
  .header__svg {
    display: none;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.menu {
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .menu__backdrop {
    display: none;
  }
}
.menu__button__close {
  width: 40px;
  height: 40px;
  align-items: center;
  margin-left: 405px;
  display: flex;
  background-color: white;
}
.menu__close {
  fill: #212121;
  width: 19px;
  height: 19px;
}
.menu__link_list {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  padding-top: 65px;
  margin-left: 30px;
}
.menu__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu__link:hover {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2196f3;
}
.menu__box {
  background-color: #fff;
  margin-left: 30px;
}
.menu__contacts__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu__contacts__link:hover {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu__contacts {
  padding-top: 420px;
}
.menu__link_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero-modal {
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 40px 40px 40px;
  z-index: 1;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-close-modal {
  margin-left: 450px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: transform 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-close-modal:hover {
  fill: var(--accent-color);
  transform: scale(200%, 200%);
}

.hero-svg-modal {
  width: 18px;
  height: 18px;
}

.hero-title-modal {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.hero-icon-modal {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 15px;
}

.hero-form-modal {
  display: flex;
  flex-direction: column;
}

.hero-label-modal {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-box {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.hero-comment-modal {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-top: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  resize: none;
}

.hero-confirm-modal {
  text-align: center;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.hero-label-checkbox-modal {
  color: #757575;
  border-radius: 4px;
  fill: #212121;
  margin-left: 7px;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.hero-link-modal {
  color: #2196f3;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.hero-button-modal {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-left: 120px;
  margin-top: 30px;
  border-radius: 4px;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-modal:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #3699ea;
}

.hero-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .hero-modal {
  transform: scale(0.5) translate(0, 500px) rotate(300deg);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero {
  height: 600px;
  flex-shrink: 0;
  padding-top: 128px;
  padding-bottom: 115px;
  background: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/tablet/mobile/bg-hero@mobile-1x.png") no-repeat, #2f303a;
  background-size: 1600px 600px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/desktop/tablet/mobile/bg-hero@mobile-2x.png") no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 131px;
    padding-bottom: 117px;
    background-image: url("../images/desktop/tablet/mobile/bg-hero@tablet-1x.png") no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/desktop/tablet/mobile/bg-hero@tablet-2x.png") no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 103px;
    background-image: url("../images/desktop/tablet/mobile/bg-hero@desktop-1x.webp") no-repeat;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/desktop/tablet/mobile/bg-hero@desktop-2x.webp") no-repeat;
  }
}
.hero__title {
  font-style: normal;
  font-family: "Roboto";
  font-size: px;
  line-height: 60px;
  letter-spacing: 2.64px;
  font-weight: 900;
  flex-shrink: 0;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 696px;
  }
}
.hero__button {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 4px;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.12);
  background-color: #3699ea;
}

.plan {
  background: #ffffff;
  padding-top: 56px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 80px;
  /* &__item {
  } */
}
@media screen and (min-width: 768px) {
  .plan {
    padding-top: 61px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .plan {
    padding-top: 94px;
    padding-left: 106px;
    padding-right: 106px;
  }
}
.plan__name {
  width: 270px;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.plan__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .plan__list {
    gap: 30px;
  }
}
.plan__text {
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  font-weight: 400;
  width: 270px;
  height: 72px;
  flex-shrink: 0;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  line-height: 24px; /* 171.429% */
}
.plan__item::before {
  content: "";
  display: block;
  background: #f5f4fa;
  max-width: 450px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .plan__item::before {
    max-width: 354px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .plan__item::before {
    width: 270px;
  }
}
.plan__item:first-child::before {
  background: #f5f4fa url("../img/plan-antenna.webp") no-repeat center;
}
.plan__item:nth-child(2)::before {
  background: #f5f4fa url("../img/plan-clock.webp") no-repeat center;
}
.plan__item:nth-child(3)::before {
  background: #f5f4fa url("../img/plan-diagram.webp") no-repeat center;
}
.plan__item:last-child::before {
  background: #f5f4fa url("../img/plan-astrotaut.webp") no-repeat center;
}

.three {
  background: #ffffff;
  display: none;
}
@media screen and (min-width: 1200px) {
  .three {
    padding-top: 99px;
    padding-bottom: 94px;
    display: flex;
  }
}
.three__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.three__photo {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}
.three__item {
  position: relative;
  transition: opacity 10s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.three__item > .three__text {
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  top: 224px;
  margin: 0;
  bottom: 0;
  opacity: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: flex;
  transition: opacity 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.three__item:hover > .three__text {
  opacity: 1;
}

.team {
  background: #f5f4fa;
  padding-top: 69px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .team {
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.team__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team__name {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__text {
  font-style: normal;
  font-family: "Roboto";
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
  font-weight: 400;
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  margin-bottom: 10px;
}
.team__photo {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  margin-bottom: 30px;
  display: block;
  background: url(./img/igor.webp) lightgray -86.437px -3.457px/196.208% 136.002% no-repeat;
  background: url(./img/olga.webp) lightgray -86.437px -3.457px/196.208% 136.002% no-repeat;
  background: url(./img/mikola.webp) lightgray -86.437px -3.457px/196.208% 136.002% no-repeat;
  background: url(./img/mihail.webp) lightgray -86.437px -3.457px/196.208% 136.002% no-repeat;
}
.team__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 30px;
  fill: #afb1b8;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team__icon-link {
  width: 20px;
  height: 20px;
}
.team__link:hover,
.team team-link:focus,
.team team-icon-link:hover,
.team team-icon-link:focus {
  fill: white;
}
.team__link:hover,
.team team-link:focus {
  background-color: #2196f3;
}

.clients {
  padding-top: 68px;
  padding-bottom: 59px;
  background-color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.clients__title {
  margin-bottom: 50px;
}
.clients__item {
  width: 190px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: border-radius 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), border 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}
.clients__item:hover, .clients__clients:focus {
  border-radius: 4px;
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}
.footer__name {
  color: #ffffff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer__span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer__adress {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
  margin-bottom: 9px;
}
.footer__contacts-link:hover {
  color: #2196f3;
}
.footer__icon-list {
  display: flex;
  gap: 10px;
}
.footer__contacts-link {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__text {
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  font-weight: 400;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  line-height: 24px; /* 171.429% */
}
.footer__container {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__container {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.footer__title {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    text-align: start;
  }
}
.footer__icons-list {
  width: 20px;
  height: 20px;
  fill: white;
}
.footer__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.footer__logo {
  color: #fff;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer__icons-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons-item:hover, .footer__icons-item:focus {
  background-color: #2196f3;
}
.footer__icons-link {
  width: 20px;
  height: 20px;
  fill: white;
}
.footer__box {
  padding-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__box {
    padding-bottom: 0;
  }
}
.footer__box-new {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .footer__box-new {
    align-items: center;
    display: block;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .footer__box-new {
    margin-left: 93px;
    padding-top: 0;
  }
}
.footer__subtitle {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
.footer__form {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__form {
    flex-direction: row;
  }
}
.footer__input {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  margin-left: 16px;
  border: none;
  outline: none;
  background: #2f303a;
}
.footer__label {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
.footer__button {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 85px;
  gap: 10px;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer__button {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__button {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
.footer__button:hover {
  box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.12);
  background-color: #3699ea;
}
.footer__icon-button {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.footer__info {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__info {
    padding-right: 177px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    padding-right: 0;
  }
}

.scroll-top {
  width: 65px;
  height: 65px;
  background-color: #2196f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  padding-right: 1.5px;
}

.scroll-top:hover {
  background-color: #3699ea;
  transform: scale(150%, 150%);
}

.list {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 50px;
}
.list__list {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.list__button {
  font-style: normal;
  font-family: "Roboto";
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
  font-weight: 500;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: 26px; /* 162.5% */
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__button:hover {
  background: #2196f3;
  color: #ffffff;
}

.info {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 94px;
}
.info__img {
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
  margin-bottom: 20px;
}
.info__name {
  font-style: normal;
  font-family: "Roboto";
  font-size: 18px;
  line-height: normal;
  letter-spacing: 1.08px;
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  line-height: 36px; /* 200% */
  width: 322px;
  padding-bottom: 4px;
}
.info__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-self: center;
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .info__list {
    padding-left: 0;
  }
}
.info__box {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}
.info__text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  width: 322px;
}
.info__item {
  height: 404px;
  flex-shrink: 0;
  max-width: 370px;
  position: relative;
  transition: box-shadow 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .info__item {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .info__item {
    width: 370px;
    margin-left: 0;
  }
}
.info__item:hover {
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.info__overlay {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0px, 0px);
}
@media screen and (min-width: 768px) {
  .info__overlay {
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .info__overlay {
    width: 370px;
  }
}
.info__overlay:hover {
  opacity: 1;
  transform: translate(0, 0);
}
.info__overlay-text {
  font-style: normal;
  font-family: "Roboto";
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.54px;
  font-weight: 400;
  color: #FFF;
  font-family: Roboto;
  font-style: normal;
  line-height: 28px; /* 155.556% */
  width: 322px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}
.info__img {
  display: block;
  width: 100%;
  height: auto;
}/*# sourceMappingURL=styles.css.map */