footer {
  background-color: #2f303a;
  color: $white-color;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  width: 1600px;
}
.footer-name {
  color: $white-color;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-span {
  color: $accent-color;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-adress {
  color: $white-color;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
  margin-bottom: 9px;
}
.footer-contacts-link:hover {
  color: $accent-color;
  
}
.footer-icon-list {
  display: flex;
  gap: 10px;
}
.footer-contacts-link {
  color: $secondary-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text {
  color: $white-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-container {
  display: flex;
  justify-items: flex-start;
}
.footer-title {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-icons-list {
  width: 20px;
  height: 20px;
  fill: white;
}
.footer-info {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer-logo {
  color: #fff;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer-icons-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
 transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-item:hover,
footer-icons-item:focus {
  background-color: #2196f3;
}
.footer-icons-link {
  width: 20px;
  height: 20px;
  fill: white;
}
.footer-box {
}
.footer-box-new {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.footer-subtitle {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  gap: 12px;
}
.footer-input {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  margin-left: 16px;
  border: none;
  outline: none;
  background: #2f303a;
}
.footer-label {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
.footer-button {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 1s 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1s 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover {
box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.12);
background-color: #3699ea;
}
.footer-icon-button {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.footer-container {
}