.hidden {
  opacity: 0;
  pointer-events: none;
}
.menu {

//   opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  z-index: 1;

  @media screen and (min-width: 768px) {
    display: none;
  }
  &__backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
background-color: #fff;

      @media screen and (min-width: 768px) {
    display: none;
  }
  }
  &__button__close {
    width: 40px;
    height: 40px;
    align-items: center;
    margin-left: 405px;
    display: flex;
    background-color: white;
  }
  &__close {
    fill: #212121;
    width: 19px;
    height: 19px;
  }
  &__container {
  }
  &__link_list {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    padding-top: 65px;
        margin-left: 30px;
  }
  &__link {
font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
letter-spacing: 0.02em;
color: #212121;
  }
  &__link:hover {
font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
letter-spacing: 0.02em;
text-align: center;
color: #2196f3;
  }
  &__box {
background-color: #fff;
// padding-left: 15px;
// display: flex;
    margin-left: 30px;
  }
  &__contacts__link { 
font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
letter-spacing: 0.02em;
color: #757575;
  }
  &__contacts__link:hover {
font-family: var(--font-family);
font-weight: 500;
font-size: 34px;
letter-spacing: 0.02em;
color: #2196f3;
  }
  &__contacts {
padding-top: 420px;
  }
  &__link_link {
font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.02em;
color: #2196f3;
// display: flex;
// flex-direction: column;
  }
}