.plan {
  background: $white-color;
  padding-top: 94px;
}
.plan-name {
  width: 270px;
  color: $primary-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.plan-list {
  display: flex;
  gap: 30px;
}
.plan-text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
  color: $secondary-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
/* .plan-item {
} */
.plan-item::before {
  content: "";
  display: block;
  background: $background-color;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 29px;
}
.plan-item:first-child::before {
  background: $background-color url("../img/plan-antenna.webp") no-repeat
    center;
}
.plan-item:nth-child(2)::before {
  background: $background-color url("../img/plan-clock.webp") no-repeat
    center;
}
.plan-item:nth-child(3)::before {
  background: $background-color url("../img/plan-diagram.webp") no-repeat
    center;
}
.plan-item:last-child::before {
  background: $background-color url("../img/plan-astrotaut.webp")
    no-repeat center;
}