html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  color: var(--white-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}